{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
  <link rel="stylesheet" href="{% static "css/jquery.dataTables.min.css" %}">
  <link rel="stylesheet" href="{% static "css/app.css" %}">
  <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
  <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
  <title>{{title}}</title>
</head>

<body class="font-sans antialiased">
  <div class="min-h-screen bg-light-100 dark:bg-dark-black text-light-900 dark:text-dark-white antialiased">
    {% include "layouts/navigation.html" %}

    <header class="bg-light-white dark:bg-dark-900 shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h2 class="font-semibold text-xl text-light-800 dark:text-dark-50 leading-tight">
          {% block header %}{% endblock header %}
        </h2>
      </div>
    </header>

    <main>
      {% block main %}{% endblock main %}
    </main>
  </div>

  <script src="{% static "js/app.js" %}"></script>
</body>

</html>