{% extends 'layouts/app.html' %}

{% block header %}
<div class="flex">
  <h2 class="font-semibold text-xl text-light-800 dark:text-dark-50 leading-tight">{{title}}</h2>

  <div class="space-x-4 -my-px ml-10 flex">
    <a href="{% url "proyeksi" target="baru" %}" class="rounded block px-4 py-2 text-sm leading-5 text-light-700 dark:text-dark-100 hover:bg-light-100 dark:hover:bg-dark-700 focus:outline-none focus:bg-light-100 dark:focus:bg-dark-700 transition duration-150 ease-in-out">Buat Proyeksi</a>
  </div>
</div>
{% endblock header %}

{% block main %}

<div class="py-12">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-light-white dark:bg-dark-900 overflow-hidden shadow-sm sm:rounded-lg">

      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden sm:rounded-lg">

              <div class="container mx-auto p-10 bg-light-white dark:bg-dark-900 shadow-lg">
                <h3 class="text-light-700 dark:text-dark-100 text-2xl font-medium mb-10">Proyeksi Data</h3>

                {% include "components/status.html" with status=status %}
                {% include "components/errors.html" with errors=errors %}

                <form method="POST" action="{% url "proyeksi" %}">
                  {% csrf_token %}

                  <div class="flex mt-10">

                    <div class="flex flex-col w-6/12 h-fit mr-10">
                      <div class="flex mb-8">
                        <div class="flex flex-col mr-5 border-r-2 justify-around w-7/12">
                          {% include "components/label.html" with for=proyeksi_form.timestep.auto_id slot=proyeksi_form.timestep.label class="pt-2" %}
                          {% include "components/label.html" with for=proyeksi_form.max_epoch.auto_id slot=proyeksi_form.max_epoch.label class="pt-2" %}
                          {% include "components/label.html" with for=proyeksi_form.max_batch_size.auto_id slot=proyeksi_form.max_batch_size.label class="pt-2" %}
                          {% include "components/label.html" with for=proyeksi_form.layer_size.auto_id slot=proyeksi_form.layer_size.label class="pt-2" %}
                          {% include "components/label.html" with for=proyeksi_form.unit_size.auto_id slot=proyeksi_form.unit_size.label class="pt-2" %}
                        </div>
                        <div class="w-5/12">
                          {{proyeksi_form.timestep}}
                          {{proyeksi_form.max_epoch}}
                          {{proyeksi_form.max_batch_size}}
                          {{proyeksi_form.layer_size}}
                          {{proyeksi_form.unit_size}}
                        </div>
                      </div>
                    </div>

                    <div class="flex flex-col w-6/12 h-fit ml-10">
                      <div class="flex mb-8">
                        <div class="flex flex-col mr-5 border-r-2 justify-around w-7/12">
                          {% include "components/label.html" with for=proyeksi_form.learning_rate.auto_id slot=proyeksi_form.learning_rate.label class="pt-2" %}
                          {% include "components/label.html" with for=proyeksi_form.dropout.auto_id slot=proyeksi_form.dropout.label class="pt-2" %}
                          {% include "components/label.html" with for=proyeksi_form.row_start.auto_id slot=proyeksi_form.row_start.label class="pt-2" %}
                          {% include "components/label.html" with for=proyeksi_form.row_end.auto_id slot=proyeksi_form.row_end.label class="pt-2" %}
                          {% include "components/label.html" with for=proyeksi_form.num_predict.auto_id slot=proyeksi_form.num_predict.label class="pt-2" %}
                        </div>
                        <div class="w-5/12">
                          {{proyeksi_form.learning_rate}}
                          {{proyeksi_form.dropout}}
                          {{proyeksi_form.row_start}}
                          {{proyeksi_form.row_end}}
                          {{proyeksi_form.num_predict}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="flex mt-4 items-center justify-end">
                    <div class="flex mr-8">
                      {% include "components/button.html" with slot="Kirim" type="submit" %}
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock main %}