{% extends 'layouts/app.html' %}

{% block header %}
<div class="flex">
  <h2 class="font-semibold text-xl text-light-800 dark:text-dark-50 leading-tight">{{title}}</h2>

  <div class="space-x-4 -my-px ml-10 flex">
    <a href="{% url "klimatologi" target="tambah" %}"
      class="rounded block px-4 py-2 text-sm leading-5 text-light-700 dark:text-dark-100 hover:bg-light-100 dark:hover:bg-dark-700 focus:outline-none focus:bg-light-100 dark:focus:bg-dark-700 transition duration-150 ease-in-out">Tambah
      Data</a>
  </div>
</div>
{% endblock header %}

{% block main %}

<div class="py-12">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-light-white dark:bg-dark-900 overflow-hidden shadow-sm sm:rounded-lg">

      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden sm:rounded-lg">

              <div class="container mx-auto p-10 bg-light-white dark:bg-dark-900 shadow-lg">
                <h3 class="text-light-700 dark:text-dark-100 text-2xl font-medium mb-10">{{subtitle}}</h3>

                {% include "components/status.html" with status=status %}
                {% include "components/errors.html" with errors=errors %}

                
                <form method="POST" action="{% if id %}{% url "klimatologi" target=id %}{% else %}{% url "klimatologi" %}{% endif %}">
                  {% csrf_token %}

                  {% if id %}
                  <input type="hidden" name="_method" value="put">
                  {% endif %}

                  <div class="flex mt-10">
                    <div class="flex w-6/12 h-fit mr-10">
                      <div class="flex flex-col mr-5 border-r-2 w-7/12">
                        {% include "components/label.html" with for=klimatologi_form.tanggal.id_for_label slot=klimatologi_form.tanggal.label class="h-10 flex items-center my-1" %}
                        {% include "components/label.html" with for=klimatologi_form.tn.id_for_label slot=klimatologi_form.tn.label class="h-10 flex items-center my-1" %}
                        {% include "components/label.html" with for=klimatologi_form.tx.id_for_label slot=klimatologi_form.tx.label class="h-10 flex items-center my-1" %}
                        {% include "components/label.html" with for=klimatologi_form.tavg.id_for_label slot=klimatologi_form.tavg.label class="h-10 flex items-center my-1" %}
                        {% include "components/label.html" with for=klimatologi_form.rh_avg.id_for_label slot=klimatologi_form.rh_avg.label class="h-10 flex items-center my-1" %}
                        {% include "components/label.html" with for=klimatologi_form.rr.id_for_label slot=klimatologi_form.rr.label class="h-10 flex items-center my-1" %}
                      </div>
                      <div class="flex flex-col w-5/12">
                        {{klimatologi_form.tanggal}}
                        {{klimatologi_form.tn}}
                        {{klimatologi_form.tx}}
                        {{klimatologi_form.tavg}}
                        {{klimatologi_form.rh_avg}}
                        {{klimatologi_form.rr}}
                      </div>
                    </div>

                    <div class="flex w-6/12 h-fit mr-10">
                      <div class="flex flex-col mr-5 border-r-2 w-7/12">
                        {% include "components/label.html" with for=klimatologi_form.ss.id_for_label slot=klimatologi_form.ss.label class="h-10 flex items-center my-1" %}
                        {% include "components/label.html" with for=klimatologi_form.ff_x.id_for_label slot=klimatologi_form.ff_x.label class="h-10 flex items-center my-1" %}
                        {% include "components/label.html" with for=klimatologi_form.ddd_x.id_for_label slot=klimatologi_form.ddd_x.label class="h-10 flex items-center my-1" %}
                        {% include "components/label.html" with for=klimatologi_form.ff_avg.id_for_label slot=klimatologi_form.ff_avg.label class="h-10 flex items-center my-1" %}
                        {% include "components/label.html" with for=klimatologi_form.ddd_car.id_for_label slot=klimatologi_form.ddd_car.label class="h-10 flex items-center my-1" %}
                      </div>
                      <div class="flex flex-col w-5/12">
                        {{klimatologi_form.ss}}
                        {{klimatologi_form.ff_x}}
                        {{klimatologi_form.ddd_x}}
                        {{klimatologi_form.ff_avg}}
                        {{klimatologi_form.ddd_car}}
                      </div>
                    </div>
                  </div>

                  <div class="flex mt-4 items-center justify-end">
                    <div class="flex mr-8">
                      {% include "components/button.html" with slot="Kirim" type="submit" class="w-full" %}
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock main %}