@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Theme */
/* light-white   = dark-900 */
/* light-50      = dark-800 */
/* light-100     = dark-700 */
/* light-200     = dark-600 */
/* light-300     = dark-500 */
/* light-400     = dark-400 */
/* light-500     = dark-300 */
/* light-600     = dark-200 */
/* light-700     = dark-100 */
/* light-800     = dark-50 */
/* light-900     = dark-white */

@layer base {
	::-webkit-scrollbar {
		@apply w-2 h-2;
	}

	::-webkit-scrollbar-track {
		@apply bg-light-100;
	}

	.dark ::-webkit-scrollbar-track {
		@apply bg-dark-black;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-light-500;
	}

	.dark ::-webkit-scrollbar-thumb {
		@apply bg-dark-300;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-light-700;
	}

	.dark ::-webkit-scrollbar-thumb:hover {
		@apply bg-dark-100;
	}
}


@layer components {
	.dot {
		@apply bg-yellow-400;
	}

	input:checked~.dot {
		@apply bg-gray-700 translate-x-full !important;
	}

	.dataTables_wrapper {
		@apply p-8 w-full;
	}

	.dataTables_wrapper .dataTables_filter,
	.dataTables_wrapper .dataTables_length {
		@apply mb-4;
	}

	.dataTables_wrapper .dataTables_processing {
		background: transparent !important;
	}

	.dataTables_wrapper label,
	.dataTables_info {
		@apply text-light-700 !important;
	}

	.dark .dataTables_wrapper label,
	.dark .dataTables_info {
		@apply text-dark-100 !important;
	}

	.svg-icon path,
	.svg-icon polygon,
	.svg-icon rect {
		fill: theme('colors.light.700') !important;
	}

	.dark .svg-icon path,
	.dark .svg-icon polygon,
	.dark .svg-icon rect {
		fill: theme('colors.dark.100') !important;
	}

	.dataTables_wrapper .dataTables_filter input {
		@apply px-2 py-2 bg-light-100 rounded-md shadow-sm border-light-300 !important;
	}

	.dark .dataTables_wrapper .dataTables_filter input {
		@apply px-2 py-2 bg-dark-black rounded-md shadow-sm border-dark-500 !important;
	}

	.dataTables_wrapper select {
		@apply pl-4 pr-8 py-2 bg-light-100 rounded-md shadow-sm border-light-300 !important;
	}

	.dark .dataTables_wrapper select {
		@apply pl-4 pr-8 py-2 bg-dark-black rounded-md shadow-sm border-dark-500 !important;
	}

	.dataTables_wrapper select:focus,
	.dataTables_wrapper .dataTables_filter input:focus {
		@apply border-indigo-300 ring ring-indigo-200 ring-opacity-50 !important;
	}

	table.dataTable.no-footer {
		@apply mt-3 mb-3 border-b border-solid border-indigo-500 !important;
	}

	table.dataTable>thead>tr {
		@apply bg-light-100 !important;
	}

	.dark table.dataTable>thead>tr {
		@apply bg-dark-700 !important;
	}

	table.dataTable>thead>tr>th {
		@apply pt-2 pl-4 border-b border-solid border-indigo-500 !important;
	}

	table.dataTable tbody>tr {
		@apply bg-light-white text-light-800 !important;
	}

	.dark table.dataTable tbody>tr {
		@apply bg-dark-900 text-dark-50 !important;
	}

	table.dataTable tbody>tr:hover {
		@apply bg-light-50 !important;
	}

	.dark table.dataTable tbody>tr:hover {
		@apply bg-dark-800 !important;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button,
	.dataTables_wrapper .dataTables_paginate .ellipsis {
		@apply text-light-700 font-bold rounded border border-solid border-transparent !important;
	}

	.dark .dataTables_wrapper .dataTables_paginate .paginate_button,
	.dark .dataTables_wrapper .dataTables_paginate .ellipsis {
		@apply text-dark-100 font-bold rounded border border-solid border-transparent !important;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
		@apply text-white shadow-sm font-bold rounded border border-solid border-transparent !important;
		background: theme('colors.indigo.500') !important;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button.current {
		@apply text-white bg-indigo-700 shadow-sm font-bold rounded border border-solid border-transparent !important;
		background: theme('colors.indigo.700') !important;
	}

	table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
	table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
		@apply bg-indigo-500 !important;
	}
}

[v-cloak] {
	display: none
}