@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #CBD5E0;
}

::-webkit-scrollbar-thumb:hover {
	background: #718096;
}

.dot {
	--tw-bg-opacity: 1 !important;
	background-color: rgba(245, 158, 11, var(--tw-bg-opacity)) !important;
}

input:checked~.dot {
	transform: translateX(100%) !important;
	--tw-bg-opacity: 1 !important;
	/* background-color: rgba(107, 114, 128, var(--tw-bg-opacity)) !important; */
	background-color: rgba(55, 65, 81, var(--tw-bg-opacity)) !important;
	/* background-color: rgba(31, 41, 55, var(--tw-bg-opacity)) !important; */
}

.dataTables_wrapper {
	padding: 2rem !important;
	width: 100% !important;
}

.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
	color: #4a5568 !important;
	padding-left: 1rem !important;
	padding-right: 2rem !important;
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
	line-height: 1.25 !important;
	border-width: 2px !important;
	border-radius: .25rem !important;
	border-color: #edf2f7 !important;
	background-color: #edf2f7 !important;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
	background-color: #ebf4ff !important;
}

.dataTables_filter,
.datatable_length {
	margin-bottom: 2rem !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	font-weight: 700 !important;
	border-radius: .25rem !important;
	border: 1px solid transparent !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	color: #fff !important;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
	font-weight: 700 !important;
	border-radius: .25rem !important;
	background: #667eea !important;
	border: 1px solid transparent !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #fff !important;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
	font-weight: 700 !important;
	border-radius: .25rem !important;
	background: #667eea !important;
	border: 1px solid transparent !important;
}

table.dataTable.no-footer {
	border-bottom: 1px solid #e2e8f0 !important;
	margin-top: 0.75em !important;
	margin-bottom: 0.75em !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
	background-color: #667eea !important;
}