{% extends 'layouts/app.html' %}

{% block header %}
<h2 class="font-semibold text-xl text-light-800 dark:text-dark-50 leading-tight">
  {{ title }}
</h2>
{% endblock header %}

{% block main %}

<div class="py-12">
  <div class="max-w-7xl mx-auto lg:px-8">

    <div class="mt-8 bg-light-white dark:bg-dark-900 overflow-hidden shadow rounded-md">
      <div class="grid grid-cols-2">
        <div class="p-6 border-light-200 dark:border-dark-600 border-r border-b">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-light-400 dark:text-dark-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
            </svg>

            <div class="ml-4 text-lg leading-7 font-semibold text-light-500 dark:text-dark-300">Sistem Proyeksi Curah Hujan Padang Pariaman</div>
          </div>

          <div class="ml-12 h-20">
            <div class="mt-2 text-sm text-light-600 dark:text-dark-200">
              Dengan Datasets di Peroleh Dari <b>Stasiun Klimatologi Kelas II Sicincin Padang Pariaman</b>
            </div>
          </div>
        </div>

        <div class="p-6 border-light-200 dark:border-dark-600 border-l border-b">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-light-400 dark:text-dark-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M12 14l9-5-9-5-9 5 9 5z" />
              <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
            </svg>

            <div class="ml-4 text-lg leading-7 font-semibold text-light-500 dark:text-dark-300">Judul Penelitian</div>
          </div>

          <div class="ml-12 h-20">
            <div class="mt-2 text-sm text-light-600 dark:text-dark-200">
              {% comment %} Proyeksi Curah Hujan Daerah Padang Pariaman Menggunakan <b>Deep Learning</b> Dengan Metode <b>Long Short-Term Memory</b> {% endcomment %}
              Optimalisasi <b>Deep Learning</b> Method Dengan <b>Long Short-Term Memory</b> Dalam Memproyeksi Curah Hujan
            </div>
          </div>
        </div>

        <div class="p-6 border-light-200 dark:border-dark-600 border-r border-t">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-light-400 dark:text-dark-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg>

            <div class="ml-4 text-lg leading-7 font-semibold text-light-500 dark:text-dark-300">Di Kembangkan Oleh</div>
          </div>

          <div class="ml-12 h-20">
            <div class="mt-2 text-sm text-light-600 dark:text-dark-200">
              <table>
                <tr>
                  <td>Nama</td>
                  <td class="pl-2"><b>Edo Sulaiman</b></td>
                </tr>
                <tr>
                  <td>NoBP</td>
                  <td class="pl-2"><b>18101152630092</b></td>
                </tr>
                <tr>
                  <td>Jurusan</td>
                  <td class="pl-2"><b>Teknik Informatika</b></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="p-6 border-light-200 dark:border-dark-600 border-l border-t">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-light-400 dark:text-dark-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z" />
            </svg>
            <div class="ml-4 text-lg leading-7 font-semibold text-light-500 dark:text-dark-300">Teknologi Yang Di Gunakan</div>
          </div>

          <div class="ml-12 h-20">
            <div class="mt-2 text-sm text-light-600 dark:text-dark-200">
              <ul>
                <li>Python Programming Language</li>
                <li>Django Web Framework</li>
                <li>MySQL Database Service</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-4 items-center justify-between">
      <div class="ml-4 text-center text-sm text-gray-500 text-right ml-0">
        © {% now "Y" %} Edo Sulaiman.
      </div>
    </div>
  </div>
</div>

{% endblock main %}